/* ---------- NAVBAR ---------- */
.navbar {
  background-color: hsl(0, 60%, 36%);
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.navbar a:hover {
  color: rgb(127, 140, 216);
}

/* ---------- BODY ---------- */
body {
  background-color: #8c4141;
  font-family: Arial, sans-serif;
  color: white;
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  padding: 40px 20px;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  margin-bottom: 30px;
}

.forms {
  font-size: 18px;
  color: white;
  margin-top: 20px;
}

input,
select,
textarea {
  width: 300px;
  padding: 10px;
  margin: 8px 0;
  border: 2px solid #f4f0f0;
  border-radius: 8px;
  color: #1a1a1a;
  font-size: 16px;
}

button {
  background-color: #8c4141;
  color: white;
  border-radius: 15px;
  font-size: 18px;
  padding: 10px 50px;
  border: 2px solid #f4f0f0;
  cursor: pointer;
}

button:hover {
  color: #302727;
  background-color: #fff;
}

/* ---------- LINKS ---------- */
.forgot-link {
  color: white;
  font-size: 14px;
  text-decoration: none;
}

.forgot-link:hover {
  color: #302727;
}

h3 {
  font-size: 28px;
  margin-top: 30px;
  color: white;
}

#registerForm{
    color: black;
    font-weight: bold;
}